<mat-toolbar color="primary">  <!-- color est un input du component, primary color du theme -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>My Movies</span>
   <span class="spacer"></span>
   <a routerLink="/movies" routerLinkActive="active" class="menu-link">Movies</a>
   <!--<a routerLink="/learn" routerLinkActive="active" class="menu-link">Learn</a>
   <a routerLink="/other" routerLinkActive="active" class="menu-link">Other</a>
   <a routerLink="/domain/first" routerLinkActive="active" class="menu-link">Domain 1</a>
   <a routerLink="/domain/second" routerLinkActive="active" class="menu-link">Domain 2</a>-->
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>